  <div class="container">
      <div class="container">
          <div class="card">
                <table>
                <thead>
                  <tr>
                    <th data-field=":name">Name</th>
                    <th data-field=":course_id">Course</th>
                    <th data-field="chapter">Chapter</th>
                    <th data-field="date">Due Date</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr>
                      <td>Ejercicio Agudas</td>
                      <td>Análisis y Expresión Verbal</td>
                      <td>1</td>
                      <td>6 de Abril</td>
                    </tr>
                    <tr>
                      <td>Ejercicio Graves</td>
                      <td>Análisis y Expresión Verbal</td>
                      <td>2</td>
                      <td>6 de Abril</td>
                    </tr>
                    <tr>
                      <td>Ejercicio Esdrújulas </td>
                      <td>Análisis y Expresión Verbal</td>
                      <td>3</td>
                      <td>6 de Abril</td>
                    </tr>
                    <tr>
                      <td>Ejercicio Sobresdrújulas</td>
                      <td>Análisis y Expresión Verbal</td>
                      <td>3</td>
                      <td>8 de Abril</td>
                    </tr>
                    <tr>
                      <td>Ejercicio Ensayo</td>
                      <td>Análisis y Expresión Verbal</td>
                      <td>3</td>
                      <td>12 de Abril</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
           </div> 