  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <div class="container">
        <div class="container">
          <div class="card">
            <div class="container">
            <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Mis Cursos</h5>
              <table>
                  <tbody>
                    <% @cursos.each do|course|%>
                    <tr>
                      <li class="divider"></li>
                      <td><%= Course.find(course.course_id).c_name %></td>
                      <td><%= Course.find(course.course_id).course %></td>
                      <td><%= link_to 'Ir', Course.find(course.course_id) %></td>
                    </tr>
                    <%end%>
                </tbody>
              </table>

<br>
</div>
</div>
