<p>Hola profesor!</p>

<p>Se ha solicitado el restablecimiento de la contraseña de la cuenta <%= @resource.email %> del portal ortográfico</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha solicitado dicho servicio, por favor ignore este correo.</p>
<p>La contraseña directiva del portal no cambiará a menos que usted haga click en la anterior liga y cree una nueva contraseña.</p>
</div>

