<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <footer class="page-footer orange">
                <div class="footer-copyright">
                    <h6 class="white-text center">[BETA VERSION] D.R.© Instituto Tecnológico y de Estudios Superiores de Monterrey, Eugenio Garza Sada 2501 Sur, Col. Tecnológico, Monterrey, N.L. México. 2016 [BETA VERSION]</h6>
                    <br>
                </div>
    </footer>
  </body>
</html>
